html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin:0;
    background: #ff9966;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'IBM Plex Serif', serif;
}
.container {
    background-color: white;
    min-height: calc( 100vh - 20px );
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 30px 0 30px;
}

nav {
    background-color: #3F51B5;
}
nav ul {
    list-style:none;
    margin:0;
    padding:0;
}
nav ul li {
    padding: 20px;
}
nav ul li:hover {
    background-color: #1a2770;
}
nav ul a {
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
}

/** Simple Menu **/
.simple ul{
    display: flex;
    flex-direction: column;
}

.simple ul li{
    text-align: center; /* need this when in column */
    margin-bottom: .5rem;
}

@media (min-width: 678px) {
    .simple ul{
        flex-direction: row;
        justify-content: space-between;
    }
    .simple ul li{
        text-align: center; /* need this when in column */
        margin-bottom: 0;
    }
}

/** With Icons Menu **/
.icons ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.icons ul li {
    flex: 0 0 100%; /* all items same width and going to fill all parent container*/
}
@media (min-width: 480px) {
    .icons ul li {
        flex: 0 0 50%;
    }
}
@media (min-width: 768px){
    .icons ul li {
        flex: 0 0 25%;
    }
}

.icons ul li a {
    display: flex;
    justify-content: center;
    flex: 0 0 100%; /** now a takes all available space and we can center **/
}

.icons .icon {
    font-size: 2rem;
    flex: 0 0 3rem;
}
.icons .text span {
    font-size: 0.8rem;
    display: block; /*from inline element to block */
    margin-top: 0.5rem
}

/** Dropdown Menu **/

.dropdown ul {
    display: flex;
    flex-direction: column;
}
@media screen and (min-width:768px) {
    .dropdown ul {
        flex-direction: row;
    }
}
.dropdown ul li  {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.dropdown ul li ul  {
    margin-top: 1rem;
    display: none;
}
.dropdown ul li:hover ul {
    display: block;
}
.dropdown ul li ul li:hover{
    background-color: #ff5e62;
}
@media screen and (min-width:768px) {
    .dropdown ul li  {
        position: relative;
        display: flex;
        flex: 0 1 100%;
    }
    .dropdown ul li ul {
        display: none;
        position: absolute;
        top:100%;
        left:0;
    }

    .dropdown ul li:hover ul {
        display: flex;
        flex-wrap: wrap;
        background-color: #ff5e62;
        margin:0;
    }
}

/** Social Menu **/

.social-menu ul li span{
    display: none;
}
.social-menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* justify-content: space-around;  */
    /* justify-content: space-between; */
    flex:1 0 auto;
}
.social-menu ul li a:before {
    font-family: "Font Awesome 5 Brands";
}
.social-menu ul li a[href*='facebook.com']::before {
    content: "\f39e";
}
.social-menu ul li a[href*='twitter.com']::before {
    content: "\f099";
}
.social-menu ul li a[href*='youtube.com']::before {
    content: "\f431";
}
.social-menu ul li a[href*='instagram.com']::before {
    content: "\f16d";
}
.social-menu ul li a[href*='pinterest.com']::before {
    content: "\f231 ";
}

/** Social Dropdowns **/

.navigation-social-dropdown {
    display: flex;
    justify-content: space-between;
    background-color: #3F51B5;
    align-items: center;
    flex-wrap: wrap;
}

.navigation-social-dropdown .dropdown ul li  {
    flex: 1 0 auto;
}

.navigation-social-dropdown .dropdown {
    flex: 0 0 100%;
}

.navigation-social-dropdown .social-menu {
    order: -1;
    flex: 0 0 100%;
}

.navigation-social-dropdown .social-menu ul{
    justify-content: center;
}

@media (min-width: 768px) {
    .navigation-social-dropdown .dropdown ul li  {
        flex: 1 0 auto;
    }
    
    .navigation-social-dropdown .dropdown {
        flex: 1 0 auto;
    }
    
    .navigation-social-dropdown .social-menu {
        order: unset;
        flex: 1 0 auto;
    }
    
    .navigation-social-dropdown .social-menu ul{
        justify-content: flex-end;
    }
}